*{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
}

body[theme="black"]{
      background-color: #000000;
}
body[theme="black"] .section{
      color: #fff;
}


.home-section-video{
      clip-path: circle(var(--clip) at 50% 50%);
}